body{
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
#cabecera{
    background-color: blueviolet;
    color: rgb(228, 38, 38);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.d1{
    float: left;
    padding-left: 10px;
}
.d2{
    float: right;
    padding-right: 10px;
}
#navbar{
    visibility: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 30px;
    background: #bcbeb3;
    width: 100%;
}
#navbar ul{
    padding: 0;
    list-style: none;
    margin: 0px;
}
#navbar li{
    display: inline;
    position: left;
}
#navbar a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
    margin-bottom: 20px;
}
.contenedor1{
    width: 100%;
    height: 30px;
    margin: 0px;
    padding: 0px;
}
.contenedor3{
    position: relative;
    bottom: 20px;
}
.g1{
    float: left;
    font: 700 16px/20px 'Unify Sans','Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;
    color: black;
    padding-bottom: 4px;
    text-decoration: underline;
    text-decoration-color: #0098fe;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}
.g2{
    float:left;
    font: 16px/20px 'Georgia Pro',Georgia,'Droid Serif',serif;
    margin-left: 10px;
    display: block;
}
.articulo-aside{
    overflow: hidden;
    width: 80%;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#principal{
    float: left;
    width: 70%;
    height: 20px;
    background: white;
    align-items: center;
    justify-content: center;
}
.g3{
    width: 100%;
    height: 20px;
    font-family: 'Unify Sans','Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;
    margin-top: 20px ;
}
a:-webkit-any-link {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #0098fe;
}
.g4{
    color:#aa1e23;
    margin-top: 24px;
    font-size: 14px;
    font-weight: bold;
}
.g5{
    color: #789;
    padding: 3px;
    margin: -3 0 0 4px;
    font: 700 14px/1 'Unify Sans','Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;
}

#principal h1{
    font: 700 36px/38px 'Unify Sans','Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;
    margin-right: 200px;
    margin-top: 6px;
}
#barra-lateral{
    float: right;
    width: 28%;
    height: auto;
    background: tomato;
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
    display: block;
    font-size: 1.25em;
    line-height: 16.625em;
}
.img{
    position: relative;
    top: 0.3125em;
    width: 80%;
    height: 23.25em;
}
.bajo-foto{
    width: 80%;
    height: 2.25em;
    margin: 0;
    background-color: #303030;
    border-top: 4px #0098fe solid;
    display: inline-block;
    color:#fff;
}
.b1{
    float:left;
    margin-left:10px;
    margin-top: 10px;
    font: 700 14px/18px 'Unify Sans','Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;
}
.b2{
    float:right;
    margin-right: 10px;
    margin-top: 10px;
    font: 700 14px/18px 'Unify Sans','Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;
}
.bajo-bajo1{
    width: 80%;
    margin: 3px 0 11px;
    color: #303030;
    font: 700 16px/18px 'Unify Sans','Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;
}
.bajo-bajo2{
    width: 80%;
    margin: 3px 0 11px;
    color: #303030;
    position: relative;
    display: block;
    font: 12px/15px 'Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;  
}
.img2{
    width: 100%;
    height: 453px;
    position: relative;
    top: 1.25em;
}
.contenedor2{
    height: 5px;
}
.publicado-actualizado p{
    font-family: 'Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;
    font-size: 0.75em;
    width: 100%;
    overflow: auto;
    position: relative;
    bottom: 1.125em;
}
.contenedor4{
    width: 80%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #303030;
    font: 1.125em/1.6875em 'Georgia Pro',Georgia,'Droid Serif',serif;
    text-align: justify;
}
.bajo{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: 0.3125em;
    margin-left: 0.1875em;
    color:black;
    font-size: 0.8125em;
    line-height: 0.9375em;
    position: relative;
    top: 0.3125em;
}
.bajo-foto2{
    width: 100%;
    height: 2.25em;
    margin: 0;
    background-color: #303030;
    border-top: 4px #0098fe solid;
    display: inline-block;
    color:#fff;
}
.img3{
    width: 100%;
    position: relative;
    top: 0.5em;
}
#pie{
    width: 100%;
    background-color:#b5ffe0;
    height: 6.25em;
    text-align: center;
    transform: translateX(-50%),translateY(-50%);
}
.p1{
    font-size: 0.75em;
    float:left;
    font: 'Unify Sans','Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;
    color: black;
    padding-bottom: 4px;
    text-decoration: underline;
    text-decoration-color: #0098fe;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}
.imagenes{
    float: right;
    position: relative;
    right: 11.25em;
}

#pie img{
    align-items: center;
}
